# Flutter repository (temporary installation)
flutter/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Local Flutter SDK installation
flutter/
flutter-sdk/
flutter_sdk/
flutter*.tar.xz
flutter_linux_*.tar.xz
flutter_sdk/

# Local Dart SDK installation
dart-sdk/
dartsdk-linux-*.zip
dart-sdk.zip
stable.zip
flutter/
packages/caravella_core/build/native_assets/macos/native_assets.json
packages/caravella_core/build/test_cache/build/ca33f282d90356a564f3e3da52c97351.cache.dill.track.dill
packages/caravella_core/build/unit_test_assets/AssetManifest.bin
packages/caravella_core/build/unit_test_assets/FontManifest.json
packages/caravella_core/build/unit_test_assets/NativeAssetsManifest.json
packages/caravella_core/build/unit_test_assets/NOTICES.Z
packages/caravella_core/build/unit_test_assets/fonts/MaterialIcons-Regular.otf
packages/caravella_core/build/unit_test_assets/shaders/ink_sparkle.frag
packages/caravella_core/build/unit_test_assets/shaders/stretch_effect.frag
